﻿@model Orchard.Cms.Core.Model.User

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

Welcome @Model.Name
<br />
<br />
<div ng-app="apiModule">
    <div id="tblPosts" ng-controller="apiController" data-id="@Model.Id" data-pageindex="0">
        <div ng-show="loading">
            <img src="~/Content/img/ajax-loader.gif" />
        </div>

        <h3 ng-show="postsection">{{postStatus}}</h3>
        <div ng-repeat="p in posts" ng-show="postsection">
            <div>
                <h4 style="text-decoration: underline;">{{p.title}}</h4>
                <p>{{p.body}}</p>
            </div>

        </div>
        <div ng-hide="posts.length">No more posts </div>
        <button id="btnLatest" ng-click="getPosts(true);">Most Recent</button>
        <button id="btnOldest" ng-click="getPosts(false);">Previous</button>
        <br /><br />
        <h3>Add Post</h3>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Enter Title" ng-model="title" />
            <label for="body">Body</label>
            <input type="text" class="form-control" id="body" placeholder="Enter Body" ng-model="body" />
        </div>
        <button class="btn btn-default" ng-click="savePost();">Save</button>
    </div>

</div>
