﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Orchard Cms</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Frontpage</h2>
        <p>
            At Orchard we exist to liberate brands through interactive experiences. We achieve this by developing the interfaces that connect brands with audiences, and the content that helps brand stories spread.
        </p>
    </div>

</div>